/*General*/
*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    margin: 0;

}

body:before {
    content:"";
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:-1; 
    background:#D8D8D8;
    background: linear-gradient(to right bottom, #D8D8D8, #757575) ;
}

/*Header*/
nav li > a{
    text-decoration: none;
}

h1{
    letter-spacing: 0.5rem;
    text-align: center;
    font-size: 4rem;
    color: rgb(52, 52, 131);
    text-shadow: 8px 4px 4px rgb(95, 129, 95);
    margin-top: 0;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

h1 > span{
    transition: 0.25s;
}

h1 > span:hover{
    transform: translateY(-2rem);
    text-shadow: 8px 4px 4px rgba(179, 194, 95, 0.74);
}

.navbar{
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(192, 192, 192, 0.7)
    );
    width: 100%;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: larger;
    font-weight: 800;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    z-index: 99;
}

.logo{
    display: flex;
    justify-content: flex-start;
    margin: 0 30px;
    height: 60px;
    width: 60px;
    border: 2px solid blue;
}

.navbar ul{
    margin: 9px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navbar li{
    margin-left: 50px;
    border-radius: 10px;
    padding: 5px 12px;
    display: flex;
    justify-content: space-around;
}

.navbar li:hover{
    box-shadow: 2px 2px 5px #757575;
}

/*Footer*/
footer{
    height: 50px;
    width: 100%;
    background: rgb(14, 13, 13);
    color: darkgrey;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

footer p{
    display: flex;
    align-items: center;
    font-family: 'Signika', sans-serif;
}

footer p a{
   text-decoration: none;
   color: darkgrey;
}

footer svg{
    height: 30px;
    width: 30px;
}
/*Home*/
/*Header*/
h4{
    letter-spacing: 0.5rem;
    font-weight: 600;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 60px;
    color: #eee;
    text-shadow: 3px 2px 0.4px rgb(74, 75, 80);
}

.background_home{
    background: no-repeat url("/images/developers.jpg");
    background-size: 100% 89%;
    height: 100vh;
    transform: translateY(80px);
}

.meta{
    color: red;
    font-weight: 800;
    font-size: 1.5rem;
}

iframe{
    width: 450px;
    height: 250px;
    margin-left: 35%;
}

/* Home */
/*Main*/
h2{
    color: rgb(63, 63, 143);
    text-shadow: 8px 4px 4px rgb(109, 110, 116);;
    font-size: 3.5rem ;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 139px;
    letter-spacing: 0.25rem;
}

h3{
    font-size: 1.5rem ;
    text-align: center;
    margin: 100px 0 30px;
    letter-spacing: 0.25rem;
}

button{
    padding: 10px 25px;
    margin: 20px 0 0 0;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px  2px rgb(66, 65, 65);
    background-color: rgb(248, 245, 238);
    font-weight: 600;
}

button > a {
    text-decoration: none;
}

button:hover{
    color: rgb(250, 250, 250);
    background-color: rgba(27, 27, 26, 0.808);
    box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.8);
    transition: 0.5s;
}

.curso:last-of-type button{
    transition: border-radius 1.2s, color 0.5s, background-color 0.25s, box-shadow 1s, transform 2s;
}

.curso:last-of-type button:hover{
    color: rgb(197, 238, 51);
    background-color: rgb(165, 46, 189);
    box-shadow: 0px 0.9rem 0.8rem -0.2em rgba(241, 92, 184, 0.8);
    font-weight: 800;
    font-size: 1.5rem;
    font-family: 'Amatic SC', cursive;
    border-radius: 45%;
    border: none;
    transform: translateY(-1rem);
}

.luz{
    height: 0px;
    width: 40px;
    background: linear-gradient(to bottom, #4ff027, #9bf18500);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: absolute;
    margin-top: 300px;
    z-index: -1;
}

.curso:last-of-type button:hover + .luz{
    height: 100px;
    transition: 1.5s;
}

.persona_cae{
    height: 0px;
    width: 0px;
    transition: transform 4s, height 0.1s, width 0.1s;
    position: absolute;
    margin-top: 210px;
    z-index: -1;
}

.curso:last-of-type button:hover +.luz + .persona_cae{
    transform: translateY(-5.8rem);
    height: 20px;
    width: 20px;

}

.fechas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    height: 210px;
    margin: 100px auto 110px;
}

.curso{
    height: 210px;
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 3px solid gray;
}

.curso:last-of-type{
    border: none;
}

.fecha{
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
}

.fecha p{
    font-weight: 550;
    margin: 0 15px;
    display: flex;
    align-items: center;
}

.negrita1{
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 2px 2px 2px rgba(3, 3, 43, 0.952);
}

.negrita2{
    font-size: 2rem;
    font-weight: 800;
    text-shadow: 2px 2px 2px rgb(224, 224, 224);
}

.negrita1,
.negrita2{
    font-weight: 600;
}

.online{
    color: chartreuse;
    font-weight: 500 ;
}
.marte {
    color: crimson;
    font-weight: 550;
}

/*CONOCENOS*/
.conocenos_descripcion{
    margin: 65px auto 150px auto;
    width: 80%;
    letter-spacing: 1px;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    line-height: 50px;
    text-shadow: 1px 1px 2px rgb(224, 224, 224);
}

.conocenos_descripcion > p::first-letter{
    font-size: 130%;
}

.negrita_programador{
    font-size: 1.4rem;
    font-weight: 800;
}

.conocenos_profesores{
    margin: auto auto 50px auto;
    width: 90%;
    line-height: 35px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;

}

.profesor{
    display: flex;
    flex-direction: row;
    border-top: 1px solid gray;
    padding: 50px 0;
}

.foto_profe{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto{
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 6px 5px 2px gray;
}

.nombre_profe{
    color: rgb(216, 216, 209);
    text-shadow: 2px 2px 2px rgb(88, 88, 88);
    margin-top: 20px;
}

.info_profe{
    width: 45%;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(224, 224, 224);
    display: flex;
    justify-content:center;
    align-items: center;

}


/*CONTACTO*/
svg{
    margin-right: 10px;
    height: 30px;
    width: 30px;
}

.contacto_descripcion{
    margin: 25px auto;
    padding-top: 15px;
    line-height: 60px;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto_vias_de_contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.contacto_vias_de_contacto:last-of-type{
    margin-bottom: 85px;
}

.contacto_telf,
.contacto_mail{
    font-weight: 700;
    margin-right: 10px;
    letter-spacing: 1px;
}

.num_telf{
    letter-spacing: 2px;
}

/*Info*/
/*Tabla Alumnos*/
table{
    border-collapse: collapse;
    margin: auto;
    width: 80%;
}

thead th{
    border-bottom: 6px solid rgb(58, 54, 49);
}

td,
th{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px;
}

tr:hover{
    background: rgba(234, 234, 240, 0.486);
}

tr:hover th,
tr:hover td{
    color: rgb(21, 51, 160);
}

th:last-of-type,
td:last-of-type{
    color:rgb(13, 151, 13);
}

th:first-child{
    color:rgb(66, 4, 4);
}

th:nth-of-type(2),
td:nth-of-type(1){
    color: rgb(177, 16, 16);
}

th:nth-of-type(3),
td:nth-of-type(2){
    color:rgb(212, 118, 41);
}

th:nth-of-type(4),
td:nth-of-type(3){
    color:rgb(150, 148, 69);
}


/*Lista Horario*/
dt{
    font-weight: bold;
}

.container_lista_horario{
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: center;
    line-height: 1.8rem;
}

/*Lista Conocimientos*/

li{
    line-height: 2rem;
}

li > * > li{
    font-weight:normal;
}

:not(li) > * > li{
    list-style: none;
    font-weight:bold;
}

.container_lista_conocimientos{
    display: flex;
    justify-content: space-evenly;
}

.container_lista_conocimientos  p {
    font-weight: bold;
    font-size: 2rem;
}

/*Inscripción*/
form{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
form > div{
    margin: 8px;
}

label,
input,
select{
    padding: 5px;
}

input{
    width: 40%;
    background: none;
    border: none;
    border-bottom: 1px solid grey;
}

 select{
    width: auto;
    background: none;
}

option{
    background: rgb(85, 84, 84);
}

textarea{
    background: none;
}

.informacion_personal{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.informacion_curso{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.modalidad_curso,
.tiempo_curso,
.tipo_curso{
    display: flex;
    flex-direction: column;
}

.tiempo_curso,
.tipo_curso{
    justify-content: center;
    width: 200px;
}

.full_stack_curso,
.front_end_curso,
.back_end_curso,
.full_time_curso,
.part_time_curso,
.online_curso,
.planeta_marte_curso{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textarea{
    display: flex;
    justify-content: center;
}

.encontrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
}

.encontrado > select{
    width: auto;
    margin: auto;
}

.checkboxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.terminos_y_ofertas{
    display: flex;
    flex-direction: column;
}

.terminos_condiciones,
.recibir_ofertas{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    padding: 0;
    margin: 0;  
}

.enviar{
    display: flex;
    justify-content: flex-end;
}

#full_stack,
#fron_end,
#back_end,
#full_time,
#part_time,
#online,
#planeta_marte{
    width: auto;
}

#terminos,
#recibir_ofertas{
    width: auto;
}

#enviar{
    width: 120px;
    height: 40px;
    padding: 10px 25px;
    margin: 20px 0 40px 0;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px  2px rgb(66, 65, 65);
    background-color: rgb(248, 245, 238);
    font-weight: 600;
}

#enviar:hover{
    color: rgb(250, 250, 250);
    background-color: rgba(27, 27, 26, 0.808);
    box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.8);
    transition: 0.5s;
}

@media screen and (max-width: 450px){

    /*NAV*/
    .navbar{
        padding: 0;
        font-size: 15px;
        position: static;
    }

    nav ul{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        margin: 0;  
    }

    .navbar li{
        padding: 5px;
    }

    h2{
        padding: 20px;
        margin-bottom: 0;
    }

    /*INSCRIPCION FORMULARIO*/
    form{
        width: 90%;
    }
    
    .informacion_personal{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .informacion_personal > label{
        display: none;
    }
    
    .informacion_personal > input{
        margin-bottom: 20px;
        width: 100%;
    }

    .informacion_curso{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }

    .modalidad_curso,
    .tiempo_curso,
    .tipo_curso{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: 1px solid gray;
        padding-bottom: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    .tiempo_curso label{
        width: 100px;
    }

    #encontrado{
        width: 100%;
    }

    .checkboxes{
        display: flex;
        flex-direction: column;
    }

    .enviar{
        display: flex;
        justify-content: center;
    }

    /*CONTACTO*/
    .contacto_descripcion{
        padding: 0;
        margin: 15px auto;
        font-size: 1.2rem;
        width: 80%;
        text-align: center;
        line-height: 30px;
    }

    .contacto_vias_de_contacto{
        margin: 0;
    }

    .contacto_vias_de_contacto:last-of-type{
        margin-bottom: 205px;
    }

    /*CONOCENOS*/
    .conocenos_descripcion{
        font-size: 1rem;
        text-align: left;
        margin: 40px auto;
        line-height: 30px;
    }

    .profesor{
        width: 100%;
        padding: 25px 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content:space-between;
    }

    .foto_profe{
        width: 30%;
        display: flex;
        justify-content: center;
    }

    .foto_profe .foto{
        height: 7rem;
        width: 7rem;
    }

    .foto_profe .nombre_profe{
        font-size: 1.2rem;
    }

    .nombre_profe{
        font-size: 1rem ;
        text-align: center;
        margin: 0;
        letter-spacing: 0.15rem;
    }

    .info_profe{
        width: 60%;
        font-size: 0.9rem;
        line-height: 30px;
        text-align:justify;
    }

    /*HOME*/
        h1 + h4{
        letter-spacing: 0.25rem;
        font-weight: 600;
        text-align: center;
        font-size: 1rem;
        margin-top: 220px;
        color: #eee;
        text-shadow: 3px 2px 0.4px rgb(74, 75, 80);
    }
    
    iframe{
        display: none;
    }

    h2{
        font-size: 3rem;
    }

    .background_home{
        transform: none;
    }

    .meta{
        font-size: 1.2rem;
        color: blue;
    }

    .fechas{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:center;
        height: auto;
        margin: 50px auto 55px;
    }
    .curso{
        height: 350px;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:center;
        border-right: none;
        border-bottom: 3px solid gray;
    }

    .curso:last-of-type button{
        padding: 10px 25px;
        margin: 20px 0 0 0;
        border: none;
        border-radius: 10px;
        box-shadow: 3px 3px  2px rgb(66, 65, 65);
        background-color: rgb(248, 245, 238);
        font-weight: 600;
        transition: 0.5s;
    }

    .curso:last-of-type button:hover{
        font-weight: 600;
        font-size: 13.333px;
        font-family: 'Arial', serif;
        border: none;
        border-radius: 10px;
        transform: none;
        color: rgb(250, 250, 250);
        background-color: rgba(27, 27, 26, 0.808);
        box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.8);  
    }

    .luz{
        display: none;
    }

    .persona_cae{
        display: none;
        
    }

    /*INFO*/
    .container_lista_conocimientos{
        width: 80%;
    }
    table{
        border-collapse: collapse;
        margin: auto;
        width: 90%;
    }
    td,
    th{
        border-bottom: 1px solid black;
        text-align: left;
        padding: 10px 5px;
        font-size: 0.85rem;
    }

    /*Lista Conocimientos*/  
    .container_lista_conocimientos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
}
